form {
    border: 1px solid black;
    background-color: #F8ECE0;
    width: 35%;
    margin: 0 auto;
    padding: 20px;
    /*http://www.cssmatic.com/box-shadow */
    -webkit-box-shadow: 23px 18px 40px 0px rgba(0,0,0,0.73);
    -moz-box-shadow: 23px 18px 40px 0px rgba(0,0,0,0.73);
    box-shadow: 23px 18px 40px 0px rgba(0,0,0,0.73);
}

.textAreaClass {
    width: 100%;
    height: 50px;
}

.pClass {
  margin-top: 0px;
  margin-bottom: 0px;
}

.inputClass {
  height: 25px;
  width: 100%;
}

.buttonClass {
  height: 10%;
  width: 30%;
}

input[type=submit] {
  background-color: lightgreen;
  color: black;
}
input[type=submit]:hover {
  background-color: darkgreen;
  color: white;
}

input[type=reset] {
  background-color: lightgreen;
  color: black;
}
input[type=reset]:hover {
  background-color: darkgreen;
  color: white;
}
